astroid==2.4.1
certifi==2020.6.20
cabby==0.1.20
chardet==3.0.4
colorlog==4.1.0
configparser==5.0.0
cybox==2.1.0.21
furl==2.1.0
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
libtaxii==1.1.117
lxml==4.5.1
mccabe==0.6.1
mixbox==1.0.3
mysql-connector==2.2.9
ordered-set==4.0.1
orderedmultidict==1.0.1
pylint==2.5.2
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-file==1.5.1
six==1.15.0
stix==1.2.0.10
tldextract==2.2.2
toml==0.10.1
urllib3==1.25.9
wrapt==1.12.1
dnspython==2.0.0